$ganbaro-blue-50: #b9d0ec;
$ganbaro-blue-100: #91b6e1;
$ganbaro-blue-200: #689bd7;
$ganbaro-blue-300: #4080cc;
$ganbaro-blue-400: #2e67ab;
$ganbaro-blue-500: #234f83;
$ganbaro-blue-500: #234f83;
$ganbaro-blue-600: #1e436f;
$ganbaro-blue-700: #18375b;
$ganbaro-blue-800: #163151;
$ganbaro-blue-900: #132b47;
$ganbaro-blue-a100: #1497fc;
$ganbaro-blue-a200: #108cee;
$ganbaro-blue-a400: #0085e6;
$ganbaro-blue-a700: #0065c1;

$ganbaro-green-50: #e6f4db;
$ganbaro-green-100: #ddf0ce;
$ganbaro-green-200: #d5edc0;
$ganbaro-green-300: #cce9b3;
$ganbaro-green-400: #bee3a0;
$ganbaro-green-500: #b1dd8c;
$ganbaro-green-500: #b1dd8c;
$ganbaro-green-600: #96d165;
$ganbaro-green-700: #7cc63d;
$ganbaro-green-800: #63a12f;
$ganbaro-green-900: #4b7924;
$ganbaro-green-a100: #9dd0a3;
$ganbaro-green-a200: #94ba9a;
$ganbaro-green-a400: #6d8f71;
$ganbaro-green-a700: #075735;

$ganbaro-mono-0: #fff;
$ganbaro-mono-50: #eee;
$ganbaro-mono-100: #ddd;
$ganbaro-mono-200: #a8a8a8;
$ganbaro-mono-300: #919191;
$ganbaro-mono-400: #7d7d7d;
$ganbaro-mono-500: #696969;
$ganbaro-mono-500: #696969;
$ganbaro-mono-600: #404040;
$ganbaro-mono-700: #303030;
$ganbaro-mono-800: #222;
$ganbaro-mono-900: #000;

$ganbaro-orange-50: #ffbe66;
$ganbaro-orange-100: #ffb755;
$ganbaro-orange-200: #ffb044;
$ganbaro-orange-300: #ffa933;
$ganbaro-orange-400: #ff9e1a;
$ganbaro-orange-500: #ff9300;
$ganbaro-orange-500: #ff9300;
$ganbaro-orange-600: #e68400;
$ganbaro-orange-700: #cc7600;
$ganbaro-orange-800: #bb6c00;
$ganbaro-orange-900: #aa6200;
$ganbaro-orange-a100: #ffc981;
$ganbaro-orange-a200: #ffb34e;
$ganbaro-orange-a400: #e78400;
$ganbaro-orange-a700: #814a00;

$ganbaro-red-50: #f8c3c2;
$ganbaro-red-100: #f5acab;
$ganbaro-red-200: #ef7f7e;
$ganbaro-red-300: #ea5250;
$ganbaro-red-400: #e42523;
$ganbaro-red-500: #d82726;
$ganbaro-red-500: #d82726;
$ganbaro-red-600: #c4201e;
$ganbaro-red-700: #b11d1b;
$ganbaro-red-800: #a21b19;
$ganbaro-red-900: #971817;
$ganbaro-red-a100: #ffaeac;
$ganbaro-red-a200: #f26d6b;
$ganbaro-red-a400: #ec2725;
$ganbaro-red-a700: #b51110;

$ganbaro-slate-50: #c3d0da;
$ganbaro-slate-100: #aeb9c3;
$ganbaro-slate-200: #a0abb4;
$ganbaro-slate-300: #919ba3;
$ganbaro-slate-400: #7d858c;
$ganbaro-slate-500: #646b70;
$ganbaro-slate-500: #646b70;
$ganbaro-slate-600: #565c61;
$ganbaro-slate-700: #45494d;
$ganbaro-slate-800: #363a3d;
$ganbaro-slate-900: #242628;
$ganbaro-slate-a100: #b1b9c9;
$ganbaro-slate-a200: #9ea4b3;
$ganbaro-slate-a400: #808591;
$ganbaro-slate-a700: #494c52;

$ganbaro-tan-50: #ebe7e2;
$ganbaro-tan-100: #dbd7d2;
$ganbaro-tan-200: #aba7a2;
$ganbaro-tan-300: #9b9792;
$ganbaro-tan-400: #7b7772;
$ganbaro-tan-500: #6d6762;
$ganbaro-tan-500: #6d6762;
$ganbaro-tan-600: #4b4742;
$ganbaro-tan-700: #3b3732;
$ganbaro-tan-800: #2b2722;
$ganbaro-tan-900: #0b0702;
$ganbaro-tan-a100: #ded9dc;
$ganbaro-tan-a200: #aea9ac;
$ganbaro-tan-a400: #7e797c;
$ganbaro-tan-a700: #3e393c;

$ganbaro-yellow-50: #fef29a;
$ganbaro-yellow-100: #feed72;
$ganbaro-yellow-200: #fdeb5d;
$ganbaro-yellow-300: #fde949;
$ganbaro-yellow-400: #fde635;
$ganbaro-yellow-500: #fde11a;
$ganbaro-yellow-500: #fde11a;
$ganbaro-yellow-600: #fcd819;
$ganbaro-yellow-700: #fbd113;
$ganbaro-yellow-800: #fbc609;
$ganbaro-yellow-900: #fcaf19;
$ganbaro-yellow-a100: #fff995;
$ganbaro-yellow-a200: #fff41f;
$ganbaro-yellow-a400: #ffe32d;
$ganbaro-yellow-a700: #ffc054;
